<p id="notice"><%= notice %></p>

<h1>TDY Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Purpose</th>
      <th>Departure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tdy_requests.each do |request| %>
      <tr>
        <td><%= "somebody" %></td>
        <td><%= request.purpose %></td>
        <td><%= request.departure %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_tdy_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reuest?', new_tdy_request_path %>
