<%= form_for @tdy_request do |f| %>
    <div class='row'>
        <div id='who' class='form-panel col-md-4'>
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Who?</p>

            <% @users.each do |user| %>
                <div>
                    <%= check_box_tag "tdy_request[user_ids][]", user.id %>
                    <%= user.name %>
                </div>
            <% end %>
        </div>
        <div id='where' class='form-panel col-md-4'>
           <i class="fa fa-map-signs" aria-hidden="true"></i>
            <p>Where?</p>
        </div>
        <div id='why' class='form-panel col-md-4'>
           <i class="fa fa-bullseye" aria-hidden="true"></i>
            <p>Why?</p>
            <div class='form-group' >
                 <%= f.label :purpose %>
                 <%= f.text_field :purpose, class:'form-control' %>
             </div>
        </div>
    </div> <!-- who, where and why row -->
    
    <div class="row">
        
         <div id='when' class='form-panel col-md-8'>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p>When?</p>
            
            <div class= "form_group" >
                <%= f.label :departure %>
                <%= f.datetime_select :departure, class: 'form-control' %>
            </div>
            <div class= "form_group" >
                <%= f.label :return %>
                <%= f.datetime_select :return, class: 'form-control' %>
            </div>

       <script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker({
                    format: 'D-MMM-YYYY HH:mm'
                });
            });
        </script>

            
            
            
            
        </div>
        <div id='additional' class='form-panel col-md-4'>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            <p>Additional Data?</p>
        </div>
   </div> <!-- dates and details row -->
   
    <div class="row">
         <div id='how' class='form-panel col-md-8'>
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <p>How?</p>
        </div>
        <div id='any_else' class='form-panel col-md-4'>
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            <p>Anything else to say?</p>
        </div>
   </div> <!-- dates and details row -->
    <%= f.submit "Create TDY Request", class: 'btn btn-primary form-control' %>
<% end %>
