<%= form_for @tdy_request do |f| %>
    <%= render 'shared/error_messages' %>
    <div class='row'>
        
        <!--
            WHO? IDENTIFY THE PEOPLE INCLUDED IN THIS TDY REQUEST
        -->
        <div id='who' class='form-panel col-md-4'>
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Who?</p>

            <% @users.each do |user| %>
                <div>
                    <%= check_box_tag "tdy_request[user_ids][]", user.id, false ,class:"traveller" %>
                    <%= user.name %>
                </div>
            <% end %>
        </div>
        
        <!--
            WHERE? DESTINATION AND AIRPORT AT DESTINATION IF APPLICABLE.
        -->
        <div id='where' class='form-panel col-md-4'>
           <i class="fa fa-map-signs" aria-hidden="true"></i>
            <p>Where?</p>
            <div class='form-group' >
                 <%= f.label :destination %>
                 <%= f.text_field :destination, class:'form-control',  data: { autocomplete_source: TdyRequest.order(:destination).map(&:destination)} %>
             </div>
             <div class='form-group' >
                 <%= f.label :destination_aiport %>
                 <%= f.text_field :destination_airport, class:'form-control' %>
             </div>
        </div>
        
        <!--
            WHY? PURPOSE OF THE TDY 
        -->
        <div id='why' class='form-panel col-md-4'>
           <i class="fa fa-bullseye" aria-hidden="true"></i>
            <p>Why?</p>
            <div class='form-group' >
                 <%= f.label :purpose %>
                 <%= f.text_field :purpose, class:'form-control' %>
             </div>
        </div>
    </div> <!-- who, where and why row -->
    
    <div class="row">
        
         <!--
            WHEN? WHEN the TDY AND THE MEETING START AND END.
         -->
         <div id='when' class='form-panel col-md-8'>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p>When?</p>
            
            <div class= "form_group" >
                <%= f.label :departure %>
                <%= f.datetime_select :departure, class: 'form-control' %>
            </div>
            <div class= "form_group" >
                <%= f.label :return %>
                <%= f.datetime_select :return, class: 'form-control' %>
            </div>
            <div class= "form_group" >
                <%= f.label :meeting_start %>
                <%= f.datetime_select :meeting_start, class: 'form-control' %>
            </div>
            <div class= "form_group" >
                <%= f.label :meeting_end %>
                <%= f.datetime_select :meeting_end, class: 'form-control' %>
            </div>

            <script type="text/javascript">
                $(function () {
                    $('.datetimepicker').datetimepicker({
                    format: 'D-MMM-YYYY HH:mm'
                    });
                });
            </script>

        </div>  <!-- When -->
        <div id='additional' class='form-panel col-md-4'>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            <p>Additional Data?</p>
            <div id="addtional_data">
                <ul class= "undecorated_list">
                    <li><%= f.check_box :advanced_allowance %>Advanced allowance</li>
                    <li><%= f.check_box :official_courier %>Official Courier</li>
                 </ul>
            </div>
            <div class= "form_group" >
                <%= f.label :budget %>
                <%= f.text_field :budget, class: 'form-control' %>
            </div>

        </div>
   </div> <!-- dates and details row -->
   
    <div class="row">
         <div id='how' class='form-panel col-md-8'>
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <p>How?</p>
            <div id="transportation_list">
                <ul class= "undecorated_list">
                    <li><%= f.check_box :air %><span><i class="fa fa-plane" aria-hidden="true"></i>Air</span></li>
                    <li><%= f.check_box :airport_service %><span><i class="fa fa-taxi" aria-hidden="true"></i>Airport Service</span></li>
                    <li><%= f.check_box :train %><span><i class="fa fa-train" aria-hidden="true"></i>Train</span></li>
                    <li><%= f.check_box :pomv, id:"pomv_check" %><span><i class="fa fa-car" aria-hidden="true"></i>POVM</span></li>
                </ul>
            </div>

            <div class='form-group' >
                 <%= f.label :other_transportation,"Other:" %>
                 <%= f.text_field :other_transportation, class:'form-control' %>
            </div>
            <div id="pomv-details" >
                <div class="form-group">
                    <label for="sel1">Driver:</label>
                       <select class="form-control" id="sel1" name="tdy_request[driver_id]">
                          <option value="0"></option>
                       </select>
                 </div>
            </div>
        </div>
        <div id='any_else' class='form-panel col-md-4'>
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            <p>Anything else to say?</p>
            <div class='form-group' >
                 <%= f.text_area :comments, class:'form-control' %>
            </div>
        </div>
   </div> <!-- dates and details row -->
    <%= f.submit "Create TDY Request", class: 'btn btn-lg btn-primary' %>
<% end %>
<script>
$(document).ready(function() {
    $(".traveller").click(function(event) {
        var name =this.nextSibling.data.trim();
        if (this.checked) {
            $('#sel1').append("<option value="+ this.value +" class='drivers'>" + name + "</option>");
        } else {
            $('.drivers[value="' + this.value + '"]').remove();
        };
    });
    
    $('#pomv_check').click(function() {
        $('#pomv-details').css('visibility', $('#pomv_check').prop('checked')? 'visible' : 'hidden');
    });
    
    $( "#tdy_request_destination" ).autocomplete({
      source:  $('#tdy_request_destination').data('autocomplete-source')
    });
});
</script>