<h1>New Claim</h1>
<p>
  Claim for : <%= @claim.tdy_request_id %> for user <%= current_user.name %>
</p>
<%= form_for @claim do |f| %>
  <%= f.hidden_field :tdy_request_id, :value => @claim.tdy_request_id %>
  <p>
    Meals provided : <%= f.text_field :meals_provided %>
  </p>
  
  <!-- The legs of the TDY -->
  <h3>Legs</h3>

  <div id="legs">
    <%= f.fields_for :legs do |leg| %>
      <%= render "leg_fields", f: leg %>
    <% end %>
  </div>
       
  <div class="links">
    <%= link_to_add_association 'add leg',  f,  :legs,  class: 'btn btn-primary' %>
  </div>

  <p>
    <%= f.submit 'Create Claim' %>
  </p>
<% end %>